@import "./variables.less";

html,
body {
    height: calc(100vh + 4800px);
    width: 100%;
    margin: 0;
    padding: 0;
}

.main {
    padding: 32px 5%;
    width: 90%;
    height: calc(100vh - 64px);
    position: fixed;
}

.raise-warpper {
    height: auto;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: @color2;
}
