@import "../../variables.less";

.portfolio-main {
    position: absolute;
    top: 10vh;
    left: 5%;
    height: 80vh;
    width: 90%;

    .workblock-inner {
        margin: 18px;
        background-color: @color2;
        height: calc(40vh - 36px);
        overflow: hidden;
        text-align: center;
        transition: box-shadow 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out;
        h4 {
            margin: calc(50% - 36px) 0px 0px 0px;
            white-space: nowrap;
            color: white;
        }
        h1 {
            margin: 0;
            color: white;
            white-space: nowrap;
        }
    }

    .workblock-inner:hover {
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
        transform: scale(1.05, 1.05);
    }
}
